---
layout: default
title: Community & Volunteering
permalink: /hobbies/community/
description: Calvin Wong volunteering at the St. Maximilian retreat.
---

<section class="hero" style="padding-top:0;">
  <h1>Community &amp; Volunteering</h1>
</section>

<div class="hobby-detail">
  {% include picture.html src="dock-install-wide" alt="Calvin and friends installing a dock at the retreat" %}
  <p>
    I enjoy pitching in on hands-on group projects &mdash; here I'm helping install a dock with friends at the
    St. Maximilian retreat. Practical, outdoor teamwork is a nice counterbalance to a desk-based week.
  </p>
  {% include picture.html src="retreat-dishes-wide" alt="Calvin washing dishes at the retreat kitchen" %}
  <p>
    Volunteering isn't always glamorous &mdash; sometimes it's dish duty after everyone else has cleared out.
    I don't mind; reliability means showing up for the tasks nobody's excited about, too.
  </p>
</div>

<p><a href="{{ '/hobbies/' | relative_url }}">&larr; Back to Hobbies</a></p>
