---
layout: default
title: Friends & Downtime
permalink: /hobbies/friends/
description: Calvin Wong spending time with friends.
---

<section class="hero" style="padding-top:0;">
  <h1>Friends &amp; Downtime</h1>
</section>

<div class="hobby-detail">
  {% include picture.html src="friends-chilling-wide" alt="Calvin relaxing outdoors with a small group of friends" %}
  <p>Even though I recharge best in quiet, one-on-one or small-group settings, spending relaxed time with close friends is important to me. Quality over quantity, always.</p>
  {% include picture.html src="drinks-buddies-wide" alt="Calvin sharing a meal and drinks with a small group of friends" %}
  <p>
    Catching up over dinner and drinks with a small circle of buddies is one of my favourite ways to unwind
    after a demanding week.
  </p>
</div>

<p><a href="{{ '/hobbies/' | relative_url }}">&larr; Back to Hobbies</a></p>
